.modeButton 
{
 border: none;
 border-radius: 100px;
 padding: 15px;
 margin-top: 20px;
 margin-left: 20px;
 width: 50px;
 height: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
}
  
.modeIcon {border-radius: 70px;width: 50px;}

.but1 
{
 display: flex;
 margin: 10px;
 border: 1px solid white;
 border-radius: 10px;
 box-shadow: none;
 background-color: #14e70d;
 font-size: 20px;
 font-weight: bold;
 padding: 5px;
 width: 150px;
 justify-content: center;
 /*transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;*/
}
  
/*.but1:hover 
{
 border-color: #00ff00;
 box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00;
}*/
  
.but2 
{
 display: flex;
 width: 200px;
 background-color: #14e70d;
 border: 1px solid white;
 border-radius: 10px;
 padding: 5px; 
 justify-content: center;
 align-items: center;
 font-weight: bold;
 font-size: 20px; 
 /*transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;*/
}

/*.but2:hover 
{
 border-color: #00ff00;
 box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00;
}*/

.bluetheme {background-color: #40FFFF;}
.bluetheme:hover
{
 border-color: #33FFFF;
 box-shadow: 0 0 20px #33FFFF, 0 0 20px #33FFFF, 0 0 60px #33FFFF;
}

.greentheme{background-color: #14e70d;}
.greentheme:hover
{
 border-color: #00ff00;
 box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 60px #00ff00;
}

@keyframes slideInLeft
{
 from {transform: translateX(-100%);opacity: 0;}
 to {transform: translateX(0);opacity: 1;}
}

@keyframes slideOutLeft
{
 from {transform: translateX(0);opacity: 1;}
 to {transform: translateX(-100%);opacity: 0;}
}

@keyframes slideInTop
{
 from {transform: translateY(-100%);opacity: 0;}
 to {transform: translateY(0);opacity: 1;}
}

@keyframes slideOutTop
{
 from {transform: translateY(0);opacity: 1;}
 to {transform: translateY(-100%);opacity: 0;}
}

@keyframes slideInRight
{
 from {transform: translateX(100%);opacity: 0;}
 to {transform: translateX(0);opacity: 1;}
}

@keyframes slideOutRight
{
 from {transform: translateX(0);opacity: 1;}
 to {transform: translateX(100%);opacity: 0;}
}

@keyframes slideInBottom
{
 from {transform: translateY(100%);opacity: 0;}
 to {transform: translateY(0);opacity: 1;}
}

@keyframes slideOutBottom
{
 from {transform: translateY(0);opacity: 0;}
 to {transform: translateY(100%);opacity: 1;}
}

@keyframes scaleIn
{
 from {font-size: 30;}
 to {font-size:50}
}

@keyframes scaleOut
{
 from {font-size: 50;}
 to {font-size:30}
}

@keyframes float
{
 0% {transform:translateY(0);}
 50% {transform: translateY(-10px);}
 100% {transform: translateY(0);}
}

@keyframes fadeIn
{
 from {opacity: 0;}
 to {opacity: 1;}
}

@keyframes fadeOut
{
 from {opacity: 1;}
 to {opacity: 0;}
}

@keyframes fadeInOut
{
 0% {opacity:1}
 50% {opacity: 0;}
 100% {opacity: 1;}
}