/* Tablet */
@media (max-width: 1023px) and (min-width: 600px) {
  .header h2 {
    font-size: 26px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .header 
  {
    width: 400%;
  }

  .Skills h1
  {
   font-size: 25px;
   text-align: center;
  }

  .Skills ul
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Works {margin-top: 300px;}
  .Works h1
  {
   margin-top: 700px;
  }

  .Works ul{width: 400%;}

  .Certificates ul{width: 360%; background-color: chocolate;}
}